<section class="section-wrapper">
    <!-- Login form -->
    <div class="login-form">
        <div class="login-form-header">
            <h1>Login</h1>
        </div>
        <div class="login-form-body">
            <form [formGroup]="authForm" (ngSubmit)="onFormSubmit()">
                <!-- Email -->
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email"
                        formControlName="email">
                    <label class="error"
                        *ngIf="authForm.get('email')?.invalid && (authForm.get('email')?.dirty || authForm.get('email')?.touched)">
                        <span *ngIf="authForm.get('email')?.errors?.['required']">Email is required</span>
                        <span *ngIf="authForm.get('email')?.errors?.['email']">Email is invalid</span>
                    </label>
                </div>
                <!-- Password -->
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password"
                        formControlName="password">
                    <label class="error"
                        *ngIf="authForm.get('password')?.invalid && (authForm.get('password')?.dirty || authForm.get('password')?.touched)">
                        <span *ngIf="authForm.get('password')?.errors?.['required']">Password is required</span>
                        <span *ngIf="authForm.get('password')?.errors?.['minlength']">Password must be at least 6
                            characters</span>
                    </label>
                </div>
                <p class="error">{{error}}</p>
                <!-- Login button -->
                <button type="submit" class="btn">Login</button>

            </form>
        </div>
    </div>


</section>