<section class="section-wrapper">
    <!-- App info -->
    <div class="app-info-wrapper">
        <!-- Image -->
        <div>
            <img src="https://images.unsplash.com/photo-1481349518771-20055b2a7b24?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1239&q=80"
                alt="app image">
        </div>
        <!-- Other info -->
        <div class="other-info-wrapper">
            <h3>App name</h3>
            <h3>Publisher name</h3>
            <h3>Ratings</h3>
            <h3>Genres</h3>
        </div>
    </div>
    <!-- Discription -->
    <div class="discription-wrapper">
        <p>
            <span>Discription: </span> lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quod.
        </p>
    </div>
    <!-- Screenshots -->
    <div class="screenshots-wrapper">
        <h3>Screenshots</h3>
        <div class="images-wrapper">
            <img src="https://images.unsplash.com/photo-1481349518771-20055b2a7b24?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1239&q=80"
                alt="screenshot">
            <img src="https://images.unsplash.com/photo-1481349518771-20055b2a7b24?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1239&q=80"
                alt="screenshot">
            <img src="https://images.unsplash.com/photo-1481349518771-20055b2a7b24?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1239&q=80"
                alt="screenshot">
            <img src="https://images.unsplash.com/photo-1481349518771-20055b2a7b24?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1239&q=80"
                alt="screenshot">
        </div>
    </div>


</section>