<section class="section-wrapper">
    <!-- Filters -->
    <div class="filters-wrapper">
        <!-- Store -->
        <div class="store-filter-wrapper">
            <p>Store</p>
        </div>
        <!-- Countries drop down list -->
        <div class="country-filter-wrapper">
            <p>Country</p>
        </div>
        <!-- Date display -->
        <div class="date-filter-wrapper">
            <p>Date</p>
        </div>
    </div>
    <!-- List of apps -->
    <div class="app-grid-wrapper">
        <app-app-card></app-app-card>
        <app-app-card></app-app-card>
        <app-app-card></app-app-card>
        <app-app-card></app-app-card>
        <app-app-card></app-app-card>
        <app-app-card></app-app-card>
        <app-app-card></app-app-card>
        <app-app-card></app-app-card>
    </div>
</section>