<section class="section-wrapper">
    <!-- Filters -->
    <div class="filters-wrapper">
        <!-- Store -->
        <div class="store-filter-wrapper">
            <p>{{store}}</p>
        </div>
        <!-- Countries drop down list -->
        <div class="country-filter-wrapper">
            <p>{{genre.country}}</p>
        </div>
        <!-- Date display -->
        <div class="date-filter-wrapper">
            <p>{{date}}</p>
        </div>
    </div>
    <!-- Genre name -->
    <div>
        <h1>{{genre.name}}</h1>
    </div>
    <!-- List of apps -->
    <div class="app-grid-wrapper">
        <app-app-card></app-app-card>
    </div>
</section>