<section class="section-wrapper">
    <!-- Filters -->
    <div class="filters-wrapper">
        <!-- Store -->
        <div class="store-filter-wrapper">
            <div class="android-filter-wrapper">
                <fa-icon [icon]="faAndroid"></fa-icon>
            </div>
            <div class="ios-filter-wrapper">
                <fa-icon [icon]="faAppStoreIos"></fa-icon>
            </div>
        </div>
        <!-- Countries drop down list -->
        <div class="country-filter-wrapper">
            <select>
                <!-- TODO: get the list on countries from https://restcountries.com/v3.1/all -->
                <option value="1">USA</option>
                <option value="2">UK</option>
                <option value="3">Canada</option>
                <option value="4">Australia</option>
                <option value="5">New Zealand</option>
            </select>
        </div>
        <!-- Date picker -->
        <div class="date-filter-wrapper">
            <input type="date" name="date" id="date">
        </div>
    </div>
    <!-- List of genres -->
    <div class="genre-list-wrapper">

    </div>
</section>