.section-wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.filters-wrapper {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
}

.store-filter-wrapper {
  display: flex;
}

.android-filter-wrapper {
  padding: 10px 50px;
  border: 1px solid #000;
  border-radius: 5px 0px 0px 5px;
}

.ios-filter-wrapper {
  padding: 10px 50px;
  border: 1px solid #000;
  border-radius: 0px 5px 5px 0px;
}

.country-filter-wrapper {
  border: 1px solid #000;
  border-radius: 5px;
}

.country-filter-wrapper select {
  padding: 10px 50px;
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

.date-filter-wrapper {
  border: 1px solid #000;
  border-radius: 5px;
}

.date-filter-wrapper input {
  padding: 10px 50px;
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

.genre-list-wrapper {
}
