<section class="section-wrapper">
    <!-- Filters -->
    <div class="filters-wrapper">
        <!-- Store -->
        <div class="store-filter-wrapper">
            <div class="android-filter-wrapper">
                <fa-icon [icon]="faAndroid"></fa-icon>
            </div>
            <div class="ios-filter-wrapper">
                <fa-icon [icon]="faAppStoreIos"></fa-icon>
            </div>
        </div>
        <!-- Countries drop down list -->
        <div class="country-filter-wrapper">
            <select (change)="changeCity($event)">
                <option value="" disabled selected hidden>Choose country...</option>
                <!-- TODO: get the list on countries from https://restcountries.com/v3.1/all -->
                <option value="USA">USA</option>
                <option value="UK">UK</option>
                <option value="Canada">Canada</option>
                <option value="Australia">Australia</option>
                <option value="New Zealand">New Zealand</option>
            </select>
        </div>
        <!-- Date picker -->
        <div class="date-filter-wrapper">
            <input type="date" name="date" id="date" (change)="changeDate($event)" [ngModel]="date">
        </div>
    </div>
    <!-- List of genres -->
    <div class="genre-grid-wrapper">
        <app-genre-card></app-genre-card>
        <app-genre-card></app-genre-card>
        <app-genre-card></app-genre-card>
        <app-genre-card></app-genre-card>
        <app-genre-card></app-genre-card>
        <app-genre-card></app-genre-card>
        <app-genre-card></app-genre-card>
        <app-genre-card></app-genre-card>
        <app-genre-card></app-genre-card>
    </div>
</section>